body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* text-align: center; */
  overflow: hidden;
}


span{
  display: inline-block;
}


.menu-button{
  position: fixed;
  right:1rem;
  top: 1rem;
  z-index: 10;
  font-size: 2.5rem;
  text-decoration: none;
}



.menu{
  width: 50vw;
  height: 100vh;
  background:orange;
  position: absolute;
  right: -50vw;
  top: 0;
  transition: all .5s;
  font-size: 2rem;
}


.menu.is-active{
  transform: translateX(-100%)
}





.ground{
  width: 400px;
  height: 300px;
  border: 5px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}



#ball{
  pointer-events: none;
  transition: transform 0.3s;
}

.emotion{
  font-size: 2rem;
  position: absolute;
  pointer-events: none;
}

section{
  background-color: orange;
  padding: 2rem;
}


article{
  background-color: dodgerblue;
  padding: 2rem;
}


p{
  background-color: hotpink;
  padding: 2rem;
}